.red{
    background-color: #0b5ed7;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo{
position: relative;
width: 211px;
height: 60px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.section-2_2{
    display: flex;
    justify-content: space-around;
}
.rond1, .rond2, .rond3, .rond4{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(156, 154, 148);
    border-radius: 200px;
}
.rond1-1, .rond2-1, .rond3-1, .rond4-1{
    position: relative;
    width: 180px;
    height: 180px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 200px;
    text-align: center;
    top: -40px;
    right: -10px;
    padding-top: 70px;
    font-size: 20px;
    cursor: pointer;
}

.rond1-2, .rond2-2, .rond3-2, .rond4-2{
    position: relative;
    width: 50px;
    height: 50px;
    color: white;
    background-color:#0b5ed7;
    border-radius: 200px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
      align-items: center;
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  @media all and (max-width: 712px){
    .section-2_2{
        display: inline-block;
    }
    .logo{
        width: 80px;
        height: 50px;
    }
  }